.header {
  border-style:solid;
  background-color: #979392;
  color:#000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
}
.footer {
  border-style:solid;
  background-color: #979392;
  color:#000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
}
  .content {
    border-style:solid;
    background-color: #979392;
    color:#000000;
    display: block;
    text-align: center;
    text-decoration-line: underline;
    width:100%;
  }
.title {
  color:#FFFFFF;
}
