.header {
  border-style:solid;
  background-color: #979392;
  color:#000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Courier New", "Arial", monospace;

}
.footer {
  border-style:solid;
  background-color: #979392;
  color:#000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration-line: underline;
  font-family: "Courier New", "Arial", monospace;
}
  .content {
    border-style:solid;
    background-color: #979392;
    color:#000000;
    display: block;
    text-align: center;
    width:100%;
    font-family: "Courier New", "Arial", monospace;
  }
.title {
  color:#FFFFFF;
  font-family: "Courier New", "Arial", monospace;
}
img {
  width: 25%;
  height: 25%;
}
